body{
    overflow-x:hidden;
    color:#FFF;
    font-family:Helvetica;
    font-size:200%;
  }
  #page {
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#CCC;
    display:flex;
    flex-wrap:no-wrap;
  }
  .pane {
    height:100vh;
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    
  }
  



  